<!DOCTYPE html>
<html>
  <head>
    <title>Hinemosu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <div id="container">
        <div id="header" class="cf">
          <div class="header_left"><p class="header_icon_frame"><%= image_tag("icon_menu.svg") %></p></div>
          <div class="header_center"><%= image_tag("logo.svg") %></div>
          <div class="header_right"><p class="header_icon_frame"><%= image_tag("icon_pencil.svg") %></p></div>
        </div>
        <div id="index_contents">
          <%= yield %>
        </div>
        <div id="footer"></div>
      </div>
    </div>
  </body>
</html>
